.weather-app {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f0ece3;
  color: #c7b198;
  font-family: "Zilla Slab", serif;
  border-radius: 10px;
  width: 400px;
}

h1,
h2 {
  padding-left: 10px;
  padding-top: 10px;
}

ul {
  list-style-type: none;
  padding-top: 70px;
  padding-left: 0px;
}

img {
  max-height: 100%;
  max-width: 100%;
}
